body{
     margin: 0px;
	}
.navbar{
	display: block;
	background-color: #B0E0E6;
	margin-top: -17px;
	/*width: 100%;*/
	top: 0;
	padding: 10px;
	overflow: hidden;
	height: 45px;

}
.wen{
	color: #B0E0E6;
}
 h2{ 
 	padding-left: 100px;
	margin-bottom: -50px;
}
.navb{
	padding-right: 80px;
}
.navb li{
	display: inline-block;
    float: right;
	padding: 14px 16px;
	padding-right: 30px;
	text-align: center;
	list-style-type: none;
}
.logo{
	margin-top: 30px;
	position: absolute;
	left: 43%;
	
}/*transform: translate(-50%, -50%);*/
.men {
	background-color: #ffffff;
	list-style-type: none;
	text-align: center;
	/*padding: 0;
	margin: 0;*/
	height: auto;
	overflow: hidden;
	position: absolute;
	top: 190px;
	left: 34%;
}
.men li{
    display: inline-block;
    padding: 20px;
}
.oback{
	background-image: url("the-beacon.jpg");
	/*background-size: cover;*/
	position: absolute;
	top: 280px;
	width: 100%;
	height: 580px;
}
.ob1{
	text-align: center;
	font-size: 20px;
	background-color: #ffffff;
	position: absolute;
	padding: 10px;
	margin-top: 110px;
	left: 55%;
}
.ob2{
	text-align: center;
	font-size: 18px;
	background-color: #000000;
	color: #ffffff;
	position: absolute;
	padding: 10px;
	margin-top: 200px;
	left: 55%;
}
.ob3{
	text-align: center;
	background-color: #000000;
	color: #ffffff;
	font-size: 18px;
	position: absolute;
	
	padding: 10px;
	margin-top: 270px;
	left: 55%;
}
.ob4{
	text-align: center;
	background-color: #000000;
	font-size: 18px;
	color: #ffffff;
	position: absolute;
	
	padding: 10px;
	margin-top: 340px;
	left: 55%;
}
.button:hover{
    background-color: #333;
    cursor: pointer;
}
.button{
	color: #ffffff;
	background-color: #00BFFF;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 430px;
	/*position: absolute;
	right: 405px;*/
	position: absolute;
	left: 55%;
	border: none;
	border-radius: 5px;
}
.last{
	 /*margin-left: 60px;*/
     position: absolute;
      top: 880px;
      left: 15%;
      width: 75%;
   	
}
#fpc{
	margin: 5px;
	width: 30%;
	border: 1px solid black;
}
#spc{
	border: 1px solid black;
	margin: 5px;
	width: 30%;
}
#tpc{
	border: 1px solid black;
	margin: 5px;
	width: 30%;	
}
.names{
	position: absolute;
	top: 1180px;
	width: 100%;
}
#on1{
      position: absolute;
      left: 23%;
}
#on2{
 position: absolute;
      left: 47%; 
}
#on3{
	 position: absolute;
      left: 70%;
}
.final{
	background-color: #F08080;
	position: absolute;
	top: 1240px;
	width: 100%;
	height: 75px;
}
.but1{
	background-color: #333;
	color: white;
	border-radius: 3px;
	position: absolute;
	left: 76%;
	margin-top:20px;
	margin-right: 20px;
	border: none;padding: 10px 20px;
}
.but2{
	border: none;
	background-color: #333;
	color: white;
	border-radius: 3px;
	position: absolute;
	left: 80%;
	margin-top:20px;
	margin-right: 20px;
	padding: 10px 20px;
	}
	.but3{
	background-color: #333;
	color: white;
	border-radius: 3px;
	position: absolute;
	left: 84%;
	margin-top:20px;
	margin-right: 20px;
	border: none;
	padding: 10px 20px;
}
.but4{
	background-color: #333;
	color: white;
	border-radius: 3px;
	position: absolute;
	left: 88%;
	margin-top:20px;
	margin-right: 20px;
	padding: 10px 20px;
	text-decoration: none;
	border: none;
	}
.least{
	padding-top: 30px;
	padding-left: 60px;
}
.but2:hover , .but3:hover , .but1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.but1 , .button {
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.wen1:hover{
	background-color: #F08080;
	cursor: pointer;
}
.nmn{    background-color:green;   }
